.header {
  height: 50px;
}

main {
  display: flex;
  align-items: stretch;
  height: calc(100vh - 50px);
  overflow: hidden;
}

.stage {
  width: calc(100% - 365px);
  flex: 0 0 auto;
}

.panel {
  display: flex;
  align-items: stretch;
  flex: 0 0 auto;
}

.panel-main {
  width: 365px;
  background: azure;
}

.panel-main, .panel-extension {
  flex: 0 0 auto;
}

.panel-extension {
  width: calc(100% - 365px);
}

.panel-extension img {
  width: 100%;
}
